@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    @apply text-[1rem] flex justify-between items-center w-full fixed top-0 z-10 h-[5rem] p-[3.2rem];
}

.nav-link {
    @apply text-[0.9rem] font-semibold text-[#181b21] mx-[0.3rem] px-[0.6rem] py-[0.4rem] rounded-[0.8rem] bg-transparent hover:bg-[#181b21] hover:bg-opacity-10 transition-all duration-300;
}

.car-section {
    @apply w-full h-screen relative;
}

.car-img {
    @apply w-full h-full object-cover;
}

.car-details {
    @apply absolute top-[25%] left-[50%] text-center;
}

.transform-50 {
    transform: translate(-50%, -50%);
}

.model-name {
    @apply text-[3rem] text-[#393c41] font-semibold;
}

.tagline {
    @apply text-[#4c4d51] text-[1rem]
}

.car-buttons {
    @apply absolute top-[85%] left-[50%] flex flex-col xl:flex-row;
}

.btn {
    @apply text-[0.7rem] lg:text-[1.125rem] text-white bg-[#171a20] font-medium uppercase my-2 lg:py-[0.4rem] py-[0.2rem] lg:px-[2.4rem] px-[1.5rem] rounded-[3.2rem] w-[15rem] lg:w-[20.5rem] h-16 bg-opacity-80
}

.inventory {
    @apply text-[#393c41] bg-white bg-opacity-60 lg:ml-8;
}

.down-svg {
    @apply block w-full h-10 mx-auto absolute top-[95%] lg:top-[93%] animate-bounce
}